main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gemunu Libre', sans-serif;
}

.Astley {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}
.Astley img {
    border-radius: 25%;
    padding: 15px;
}
