main {
    position: relative;
    
    border: solid rgb(240, 169, 37) 10px;
}

body::before {
    content: '';
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(../assets/pdx\ floor.jpeg);
    height: 1058px;
    opacity: .5;
}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Gemunu Libre', sans-serif;
}

h1 {
    font-size: 75px;
    color: indigo;
    margin: 15px;
    padding: 10px;
    border: indigo solid 3px;
    border-radius: 15px;
}

h2 {
    font-size: 30px;
    color: rgb(255, 7, 7);
    border: rgb(240, 169, 37) solid 3px;
    padding: 10px;
    border-radius: 10px;
}

.Astleypics img {
    display: flex;
    border-radius: 50%;
    width: 400px;
    border: 4px solid rgb(168, 54, 168);
    margin: 15px;
    flex-direction: row;
}

footer {
     text-align: right;
}